<%- include("partials/header") %>
  <main class="AccountPageMain">
      <h2>Account Instellingen</h2>
      <h3>Beheer je instellingen</h3>
      
      <section class="accPageSections" id="accInformationSection">
        <h2>Account Informatie</h2>
        <!--Kunen hier een unieke ID linken met cookies-->
        <p id="accountID">
          <span id="accIDspan">ID:</span>
          <span id="accIDnumber"><%= user.id %></span>
        </p>
        <article>
          <input type="text" id="displayName" value="<%= user.displayName %>" disabled>
          <button class="editBtn" data-field="displayName">✏️</button>
        </article>

        <article>
          <input type="text" id="email" value="<%= user.email %>" disabled>
          <button class="editBtn" data-field="email">✏️</button>
        </article>
      </form>

        <article>
          <label for="language" id="languageLabel">Voorkeur Taal:</label><br>
          <!--Kunnen hier een functie toevoegen om meerdere talen te tonen voor onze website maar dat is misschien wat ingewikkeld.-->
          <select id="language" name="language" class="form-control" disabled>
            <option value="Nederlands" <%= user.language === 'Nederlands'%>>Nederlands</option>
            <option value="Engels" <%= user.language === 'Engels' %>>Engels</option>
            <option value="French" <%= user.language === 'French' %>>Frans</option>
            <option value="German" <%= user.language === 'German' %>>Duits</option>
            <option value="Swedish" <%= user.language === 'Swedish' %>>Zweeds</option>
            <option value="Finnish" <%= user.language === 'Finnish' %>>Fins</option>
          </select>
          <button class="editBtn" data-field="language">✏️</button>
        </article>
    </section>

    <section class="accPageSections" id="accPersonalDataSection">
      <h2>Persoonlijke Gegevens</h2>
        <p>Beheer je naam en contact informatie. Deze gegevens zijn prive en zullen niet gedeeld worden met andere spelers. Bekijk de <span id="policyLink">Privacy Policy</span></p>

        <article>
          <input type="text" id="firstName" placeholder="Voornaam:" value="<%= user.firstName %>" disabled>
          <button class="editBtn" data-field="firstName">✏️</button>
        </article>

        <article>
          <input type="text" id="lastName" placeholder="Familie Naam:" value="<%= user.lastName %>" disabled>
          <button class="editBtn" data-field="lastName">✏️</button>
        </article>
    </section>

    <section class="accPageSections" id="accAdressSection">
      <h2>Adres</h2>
        <article>
          <input type="text" id="addressLine1" placeholder="Adres Regel 1:" value="<%= user.addressLine1 || '' %>" disabled>
          <button class="editBtn" data-field="addressLine1">✏️</button>
        </article>

        <article>
          <input type="text" id="addressLine2" placeholder="Adres Regel 2:" value="<%= user.addressLine2 || '' %>" disabled>
          <button class="editBtn" data-field="addressLine2">✏️</button>
        </article>

        <article>
          <input type="text" id="city" placeholder="Stad:" value="<%= user.city || '' %>" disabled>
          <button class="editBtn" data-field="city">✏️</button>
        </article>

        <article>
          <input type="text" id="region" placeholder="Gemeente:" value="<%= user.region || '' %>" disabled>
          <button class="editBtn" data-field="region">✏️</button>
        </article>

        <article>
          <input type="text" id="postalCode" value="<%= user.postalCode || '' %>" disabled>
          <button class="editBtn" data-field="postalCode">✏️</button>
        </article>

        <article id="deleteArticle">
        <p>Verwijder je CHYN-account, inclusief alle persoonlijke informatie, aankopen, spelvoortgang, in-game content, je CHYN Wallet-saldo. Je account wordt permanent verwijderd na 30 dagen.</p>
        <button id="deleteAccBtn">VERWIJDER ACCOUNT</button>
        <form action="/logout" method="GET">
          <button id="logOutBtn" type="submit">UITLOGGEN</button>
        </form>
        </article>
    </section>

    </main>
<%- include("partials/footer") %>