<%- include("partials/header") %>
<main id="characterMain">
    <% characters.forEach(character => { %>
            <article id="<%= character.id %>" class="Characters">
                <div class="characterBtnContainer">
    	            <form class="favouriteForm" data-name="<%= character.name %>" data-image="<%= character.images.icon %>">
                        <button class="characterPageBtns" id="blacklistBtn" type="submit">
                            <img src="/Images/ButtonImages/blackEmptyFavouriteStar.png" alt="Favorite" class="characterPageBtnImages">
                        </button>
                    </form>
                    <form class="blacklistForm" data-name="<%= character.name %>" data-image="<%= character.images.icon %>">
                        <button class="characterPageBtns" id="favouriteBtn" type="submit">
                            <img src="/Images/ButtonImages/blackmarkButton.png" alt="Blacklist" class="characterPageBtnImages">
                        </button>
                    </form>
                </div>
                <img src="<%= character.images.icon %>" alt="<%= character.name %>" class="characterPortraits">
                <h2 class="characterNames"><%= character.name %></h2>
            </article>
        <% }); %>
</main>
<%- include("partials/footer") %>


