<%- include("partials/header") %>
    <main>
      <% if (character) { %>
    <div class="containerCI">
      <div class="image-container">
        <img src="<%= character.images.icon %>" alt="<%= character.name %>" class="character-image" />
      </div>
      <div class="text-container">
        <h1 class="title">Over <%= character.name %></h1>
        <p class="subtext"><%= character.description %></p>
      </div>
    </div>
    <% } else { %>
      <h2>Karakter niet gevonden.</h2>
    <% } %>
  </main>
</form>
  <%- include("partials/footer") %>