<%- include("partials/header") %>

<main id="favoriteCharactersMain">
    <% characters.forEach(character => { %>

        <article id="vbucksCounterArticleHidden">
            <img src="/Images/Logos/Vbuck coin png.png" alt="" id="vbucksCounterImageHidden">
            <p id="vbucksCounter"><%= user?.vbucks ?? 0 %></p>
        </article>

    <article class="favoritedCharacters" data-wins="<%= character.wins || 0 %>" data-losses="<%= character.losses || 0 %>">
        <section class="FavoriteCharacterPortraitsAndCosmeticsSections">
            <img src="<%= character.image %>" alt="" class="favoriteCharacterPortraits">
            <button class="favoritedBtns favoriteBtn">
                <img src="/Images/ButtonImages/FilledGoldFavouriteStar.png" alt="" class="favoritedBtnImages">
            </button>

            <button class="favoriteCharacterCosmeticBtns" id="favoriteCharacterCosmeticBtn1" data-cosmetic-type="backpack" data-carousel-id="carousel-<%= character.name.replace(/\s/g, '') %>-backpack">
                <img src="<%= character.cosmetic1 || '/Images/ButtonImages/fortnite_weapon_slot.png' %>" alt="" class="favoriteCharacterCosmeticImages">
            </button>

            <button class="favoriteCharacterCosmeticBtns" id="favoriteCharacterCosmeticBtn2" data-cosmetic-type="pickaxe" data-carousel-id="carousel-<%= character.name.replace(/\s/g, '') %>-pickaxe">
                <img src="<%= character.cosmetic2 || '/Images/ButtonImages/fortnite_weapon_slot.png' %>" alt="" class="favoriteCharacterCosmeticImages">
            </button>

            <button class="favoriteCharacterCosmeticBtns" id="favoriteCharacterCosmeticBtn3" data-cosmetic-type="glider" data-carousel-id="carousel-<%= character.name.replace(/\s/g, '') %>-glider">
                <img src="<%= character.cosmetic3 || '/Images/ButtonImages/fortnite_weapon_slot.png' %>" alt="" class="favoriteCharacterCosmeticImages">
            </button>
        </section>
        <section class="favouritedCharacterTexts">
            <h3 class="favoriteCharacterNames"><%= character.name %></h3>

            <p class="favoriteCharactersStatictics">
                <span class="label">Gewonnen:</span> <span class="value win-count">&nbsp;<%= character.wins || 0 %></span>
                <button class="WinLossBtns IncreaseWinBtn" type="button"><img src="/Images/ButtonImages/AddBtnGreen.png" alt="" class="WinLossBtnsImages"></button>
                <button class="WinLossBtns DecreaseWinBtn" type="button"><img src="/Images/ButtonImages/RemoveBtnBlue.png" alt="" class="WinLossBtnsImages"></button>
            </p>

            <p class="favoriteCharactersStatictics">
                <span class="label">Verloren:</span> <span class="value lose-count">&nbsp;<%= character.losses || 0 %></span>
                <button class="WinLossBtns IncreaseLossnBtn" type="button"><img src="/Images/ButtonImages/AddBtnGreen.png" alt="" class="WinLossBtnsImages"></button>
                <button class="WinLossBtns DecreaseLossBtn" type="button"><img src="/Images/ButtonImages/RemoveBtnBlue.png" alt="" class="WinLossBtnsImages"></button>
            </p>

            <p class="favoriteCharactersStatictics">
                <span class="label">Spellen Gespeeld:</span> <span class="value gameCount">&nbsp;<%= (character.wins || 0) + (character.losses || 0) %></span>
            </p>

            <p class="favoriteCharactersStatictics">
                <span class="label">Win ratio:</span> 
                <span class="value WinRate">
                    &nbsp;<%= (character.wins && (character.wins + character.losses) > 0) ? ((character.wins / (character.wins + character.losses)) * 100).toFixed(2) : 0 %>% 
                </span>
            </p>
        </section>
    </article>
    <% }); %>
</main>

<div id="cosmeticCarouselOverlay" style="display: none;">
    <div id="cosmeticCarouselModal">
        <button id="closeCarouselModal" style="position: absolute;top: 10px;right: 20px;font-size: 2rem;">&times;</button>
        <div id="carouselModalContent"></div>
    </div>
</div>
<style>

</style>
<script>
    window.userPurchases = <%- JSON.stringify(user && user.purchases? user.purchases : []) %>
</script>
<script src="/TypeScript/shopPage.js"></script>
<script src="/TypeScript/cosmeticmodal.js"></script>
<%- include("partials/footer") %>

<style>
    #vbucksCounterArticleHidden, #vbucksCounterImageHidden{
        display: none;
    }


</style>